<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <link rel="stylesheet" href="style.css">
  <title>vue-todolist</title>
</head>
<body>
  
  <!-- container VueJs -->
  <div id="app" class="container">
    <!-- titolo -->
    <h1>ToDoList</h1>

    <!-- sezione input/bottone -->
    <div class="nuovo-to-do">
      <input v-model.trim="newTodo.text" placeholder="Cosa devi fare?" type="text">
      <button @click="aggiungiTodo">Aggiungi</button>
    </div>

    <!-- sezione oggetti to-do list -->

    <div class="to-do-list-container">
      <ul v-if="todos.length > 0">
        <li  v-for="(todo, index) in todos" :class="[todo.done==true ? 'done' : '']" @click="todoDone(index)">
          <span>{{todo.text}}</span>
          <i @click="rimuoviTodo(index)" class="fa-solid fa-xmark"></i>
        </li>
      
      </ul>
      <h2 v-else>Ma non hai mai niente da fare??</h2>
    </div>

  </div>







  <script src="script.js"></script>
</body>
</html>